<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="" class="img-fluid"></a>
    </div>
<!-- Nab Bar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Inicio</a></li>
        <li><a class="nav-link scrollto" href="/gestion_clientes">Gestión de Clientes</a></li>
        <li><a class="nav-link scrollto" href="/gestion_productos">Gestión de Productos</a></li>
        <li><a class="nav-link scrollto" href="/gestion_ventas">Gestión de Ventas</a></li>
        <li><a href="https://github.com/JaviOHS/POO_VENTAS_WEB" target="_blank"><i class="fab fa-github" style="font-size: 40px;"></i></a></li>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      </ul>
    </nav>
  </div>
</header>
