<head>
  <%- include('partials/head') %>
  <title>SGV | 404</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Navigation -->
  <%- include('partials/navbar') %>
  <!-- Error Section -->
  <section id="error" class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Error Message -->
          <div class="error-message">
            <br>
            <br>
            <br>
            <br>
            <h2 class="display-4">CURIOSO</h2>
            <div class="col-md-6 offset-md-3"> <!-- Agregado -->
              <a href="https://www.freepik.es/" target="_blank"><img src="/img/404.jpg" alt="Creditos: freepik" class="error-image img-fluid"></a> <!-- Modificado -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="/" class="btn consult-button">
        <i class="fa-solid fa-arrow-left"></i> Regresar
      </a>
    </div>
  </section>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>
