<head>
  <title>SGV | Cerrar Sesión</title>
  <%- include('partials/head') %>
  <link href="/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="logout-container">
    <div class="logout-box">
      <h2>Cerrar Sesión</h2>
      <p>¿Estás seguro de que deseas cerrar sesión?</p>
      <button type="submit"><a style="text-decoration: none; color: white;" href="/login">Cerrar Sesión</a></button>
    </div>
  </div>
</body>
</html>