<head>
  <%- include('partials/head') %>
  <title>SGV | Inicio</title>
</head>
<body>
  <%- include('partials/navbar') %>
  <!-- ======= Sección de Servicios ======= -->
  <section id="services" class="services">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="section-title" data-aos="fade-up">
        <h2>¡BIENVENIDO A LA APLICACIÓN PARA GESTIONAR TUS VENTAS!</h2>
        <h2>Servicios</h2>
        <p>Explore por los diversos módulos que tenemos disponible para usted:</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card1" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-people"></i></div>
            <h4 class="title"><a href="/gestion_clientes">Gestión de Clientes</a></h4>
            <p class="description">Este módulo está diseñado para facilitar la gestión integral de clientes, ofreciendo funcionalidades clave como la adición de nuevos clientes, la actualización de su información, la consulta detallada y la eliminación de registros de clientes.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card2" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-box"></i></div>
            <h4 class="title"><a href="/gestion_productos">Gestión de Productos</a></h4>
            <p class="description">Este módulo está diseñado para la gestión completa de productos, permitiendo añadir nuevos productos, actualizar su información, consultar detalles específicos y eliminar productos según sea necesario.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box card3" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-cart"></i></div>
            <h4 class="title"><a href="/gestion_ventas">Gestión de Ventas</a></h4>
            <p class="description">Este módulo está diseñado para la gestión eficiente de ventas, permitiendo registrar nuevas ventas, actualizar su información, consultar detalles y eliminar registros de ventas según sea necesario.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Sección de Características ======= -->
  <section id="features" class="features">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Características</h2>
        <p>Descubra todo lo que podemos ofrecerle.</p>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="bi bi-person-check" style="color: #ffbb2c;"></i>
            <h3><a href="#">Seguimiento a Clientes</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-display" style="color: #5578ff;"></i>
            <h3><a href="#">Interfaz Minimalista</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-clock" style="color: #e80368;"></i>
            <h3><a href="#">Disponibilidad 24/7</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-cart" style="color: #e361ff;"></i>
            <h3><a href="#">Gestión de Ventas</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="bi bi-check-circle" style="color: #ffa76e;"></i>
            <h3><a href="#">Servicios Garantizados</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="bi bi-shield" style="color: #4233ff;"></i>
            <h3><a href="#">Aplicación Segura</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <!-- ======= Sección de Equipos ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Equipo de Trabajo</h2>
        <p>Conozca a nuestro equipo profesional y altamente especializado.</p>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="img/perfil.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>STEVEN ALEXANDER<br>NIETO DURAN</h4><hr>
              <span>
                <i class="fa-solid fa-user-tie" style="font-size: 25px;"></i>
                <i class="fa-solid fa-briefcase" style="font-size: 25px;"></i><br>
                Jefe de Proyecto
              </span><hr>
              <span>
                <i class="fa-solid fa-user" style="font-size: 25px;"></i>
                <i class="fa-solid fa-laptop-code" style="font-size: 25px;"></i><br>
                Programador<br>
              </span><hr>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="img/perfil_jhs.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>JAVIER OMAR<br>HARO SOLEDISPA </h4><hr>
              <span>
                <i class="fa-solid fa-user-tie" style="font-size: 25px;"></i>
                <i class="fa-solid fa-briefcase" style="font-size: 25px;"></i><br>
                Jefe de Proyecto
              </span><hr>
              <span>
                <i class="fa-solid fa-user" style="font-size: 25px;"></i>
                <i class="fa-solid fa-laptop-code" style="font-size: 25px;"></i><br>
                Programador<br>
              </span><hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>