body {
  background-image: url('https://img.freepik.com/vector-premium/fondo-abstracto-borroso-degradado-azul-blanco-liquido_619119-322.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.textbox {
  position: relative;
  margin-bottom: 20px;
}

.textbox input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  color: #333;
  font-size: 16px;
}

.textbox input::placeholder {
  color: #aaa;
}

.textbox i {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  color: #777;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;

}

button:hover {
  background-color: #0056b3;
}